<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<script language="JavaScript">
	<!-- 	
	// by Nannette Thacker
	// http://www.shiningstar.net
	// This script checks and unchecks boxes on a form
	// Checks and unchecks unlimited number in the group...
	// Pass the Checkbox group name...
	// call buttons as so:
	// <input type=button name="CheckAll"   value="Check All"
  //onClick="checkAll(document.myform.list)">
  // <input type=button name="UnCheckAll" value="Uncheck All"
  //onClick="uncheckAll(document.myform.list)">

  function checkAll(field)
  {
    for (i = 0; i < field.length; i++)
      field[i].checked = true ;
  }

  function uncheckAll(field)
  {
    for (i = 0; i < field.length; i++)
      field[i].checked = false ;
  }
  //  -->
</script>

<html lang="en">
<head>
  <title>{% block title %}FASTA search{% endblock %}</title>
</head>
<body>

<h1 style="text-align:center">{% block program_name %}FASTA Search{% endblock%}
</h1>
<hr/>

<form action="" method="post">
  {% block query_form %}
	<label><b>Your sequence in FASTA format:</b></label><br/>
	{{form.seq}}<br/>
	<h3 style="color: red;">{{form.seq.errors}}</h3>
	<label><b>Number of sequence scores to be shown: </b></label><br/>
	{{form.number_sequence}}<br/>
	<h3 style="color:red;">{{form.number_sequence.errors}}</h3>
	<label><b>Upper E-value:</b></label><br/>
	{{form.number_alignment_highest}}<br/>
	<label><b>Lower E-value:</b></label><br/>
	{{form.number_alignment_lowest}}<br/>
	<h3 style="color:red;">{{form.number_alignment_lowest.errors}}</h3>
	<label><b>Substitution matrix: </b></label><br/>
	{{form.matrix_file}}<br/> 
	<label><b>Subject database: </b></label><br/>
	{{form.database_option}}<br/>
  {% block ktup %}
	<label><b>Ktup: </b></label><br/>
	{{form.ktup}}<br/>
  {% endblock %}
	<input type="submit" name="submit_search" value="Search">
  {% endblock %}
</form>


<!-- Below shows the search result-->
{% block results %}
{% if form.cleaned_data.seq %}
  {% if resdata.records %}
  <h3 id="duration">This run took {{ duration }} minutes.</h3>

  <form name="selectionform" action="../seqrequest" id="selectionform" method="post">
  <input type="hidden" name="search_id" value="{{ resdata.search_id }}" />
  <table cellspacing="5" border="1">
  <thead>
    <tr> 
      <th>
        <input type="button" name="check_all" value="Check all"
        onClick="checkAll(document.selectionform.gi_number)">
        <input type="button" name="uncheck_all" value="Uncheck all"
        onClick="uncheckAll(document.resultform.gi_number)">
      </th>
      <th>GI</th>
      <th>Bit Score</th>
      <th>E-Value</th>
      <th>Accession</th>
      <th>Genus_species</th>
      <th>Annotation</th>
      <th>Download Date</th>
    </tr>
  </thead>
  <tbody>
    {% for record in resdata.records %}
    <tr>
      <td><input type="checkbox" name="gis" value="{{ record.gi_number }}" /></td>
      <td><a href="http://www.ncbi.nlm.nih.gov/protein/{{record.gi_number}}" target="_blank">{{record.gi_number}} </a></td>
      <td>{{record.bit}}</td>
      <td>{{record.e_value}}</td>
      <td>{{record.accession}}</td>
      <td>{{record.genus_species}}</td>
      <td>{{record.annotation}}</td>
      <td>{{record.download_date}}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  <p><input type=submit value="Submit"></p>
  </form>
  {% else %}
  <h3>No hits found.</h3>
  <p>Try adjusting your parameters.</p>
  {% endif %} 
{% endif %}
{% endblock %}
<p>
Questions and comments:
<a href="mailto:jelesko@vt.edu?subject=Jelesko%20Search">Send Email</a>
</p>

</body>
</html>
