<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>FASTA search</title>
</head>
<body>

<h1 style="text-align:center">FASTA search</h1>
<hr/>

<form action="" method="GET">
	<label><b>Your sequence in Fasta format:</b></label><br/>
	{{form.seq}}<br/>
	<label><b>Number of sequence scores to be shown: </b></label><br/>
	{{form.number_sequence}}<br/>
	<label><b>Upper E-value:</b></label><br/>
	{{form.number_alignment_highest}}<br/>
	<label><b>Lower E-value:</b></label><br/>
	{{form.number_alignment_lowest}}<br/>
	<label><b>Matrix file: </b></label><br/>
	{{form.matrix_file}}<br/>
	<input type="submit" name="submit_search" value="Search">
</form>

<!-- Below shows the search result-->
{% if res %}
<table cellspacing="5" border="1">
<thead>
	<tr><th>Check</th><th>GI</th><th>Accession</th><th>Detail</th><th>Bit</th><th>E-Value</th></tr>
</thead>
<tbody>
        {% for record in res %}
        <tr>
		<td><INPUT TYPE = CHECKBOX Name="Entry"></td>
			<td><a href="http://www.ncbi.nlm.nih.gov/protein/{{record.gi_number}}" target="_blank">{{record.gi_number}} </a></td>
			<td>{{record.accession_ref}}</td>
			<td>{{record.detail}}</td>
			<td>{{record.bit}}</td>
			<td>{{record.e_value}}</td>
        </tr>
        {% endfor %}
</tbody>
</table>
{% endif %} 
<p>
Questions and comments:
<a href="mailto:jelesko@vt.edu?subject=Hello%20again">
Send Emails
</a>
</p>

</body>
</html>