<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>{% block title %}FASTA search{% endblock %}</title>
</head>
<body>

<h1 style="text-align:center">{% block program_name %}FASTA Search{% endblock%}
</h1>
<hr/>

<form action="" method="post">
  {% block query_form %}
	<label><b>Your sequence in Fasta format:</b></label><br/>
	{{form.seq}}<br/>
	<label><b>Number of sequence scores to be shown: </b></label><br/>
	{{form.number_sequence}}<br/>
	<label><b>Upper E-value:</b></label><br/>
	{{form.number_alignment_highest}}<br/>
	<label><b>Lower E-value:</b></label><br/>
	{{form.number_alignment_lowest}}<br/>
	<label><b>Matrix file: </b></label><br/>
	{{form.matrix_file}}<br/> 
	<label><b>Target database: </b></label><br/>
	{{form.database_option}}<br/>
	<label><b>Ktup: </b></label><br/>
	{{form.ktup}}<br/>
	<input type="submit" name="submit_search" value="Search">
  {% endblock %}
</form>


<!-- Below shows the search result-->
{% block results %}
{% if form.cleaned_data.seq %}
  {% if res %}
  <h3 id="duration">This run took {{ duration }} minutes.</h3>

  <form action="." id="form" method=POST>
  <table cellspacing="5" border="1">
  <thead>
    <tr>
      <th>Check</th>
      <th>GI</th>
      <th>Bit Score</th>
      <th>E-Value</th>
      <th>Accession</th>
      <th>Genus_species</th>
      <th>Annotation</th>
      <th>Download Date</th>
    </tr>
  </thead>
  <tbody>
    {% for record in res %}
    <tr>
      <td><INPUT TYPE = CHECKBOX Name=gi_number value = {{record.gi_number}}></td>
      <td><a href="http://www.ncbi.nlm.nih.gov/protein/{{record.gi_number}}" target="_blank">{{record.gi_number}} </a></td>
      <td>{{record.bit}}</td>
      <td>{{record.e_value}}</td>
      <td>{{record.accession}}</td>
      <td>{{record.genus_species}}</td>
      <td>{{record.annotation}}</td>
      <td>{{record.download_date}}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  <p><input type=submit value="Submit"></p>
  </form>
  {% else %}
  <h3>No hits found.</h3>
  <p>Try adjusting your parameters.</p>
  {% endif %} 
{% endif %}
{% endblock %}
<p>
Questions and comments:
<a href="mailto:jelesko@vt.edu?subject=Jelesko%20Search">Send Email</a>
</p>

</body>
</html>
